.recipe-list .recipe-group-content {
  display: flex;
  flex-wrap: wrap;
}

.recipe-list .recipe-group-content a {
  text-decoration: none;
}

.recipe-content {
  display: flex;
  flex-direction: row;
  min-width: 300px;
}

@media only screen and (max-width: 800px) {
  .recipe-content {
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  .recipe-text {
    margin-left: 10;
  }
}

.recipe-content ul {
  margin-top: 0;
  list-style-type: none;
}

.recipe-content li {
  margin-bottom: 2px;
  margin-top: 0px;
}

.recipe-content li p {
  margin-bottom: 2px;
  margin-top: 0px;
}

.recipe-content p {
  margin-bottom: 10px;
}

.recipe-ingredients {
  min-width: 300px;
}

.recipe-ingredients > ul {
  margin-left: 5px;
  margin-bottom: 40px;
}

.recipe-ingredients > ul > li > p {
  font-weight: bold;
}

.recipe-ingredients > ul > li > ul {
  margin-left: 12px;
}

.recipe-list .recipe-group-heading {
  width: 100%;
  font-size: 60px;
  color: lightgray;
  margin-top: 50px;
  border-bottom: 1px solid lightgray;
  height: 50px;
}

.recipe-list .recipe {
  width: 170px;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  color: #4b4c4c;
  padding: 2px;
  border: 1px solid transparent;
}

.recipe-list .recipe:hover {
  border: 1px solid lightgray;
  border-radius: 3px;
}

.recipe-filter {
  width: 90%;
  height: 45px;
  padding: 4px;
  border: 2px solid lightgray;
  color: #4b4c4c;
  outline: none;
}

.clear-recipe-filter {
  cursor: pointer;
  font-size: 30px;
  padding: 5px;
  line-height: 45px;
}

.recipe-container .recipe-meta {
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
  border: 1px dashed #b8b8b8;
  color: #4b4c4c;
  text-decoration: none;
  margin-bottom: 10px;
}

.jump-top-button {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  opacity: 0.5;
  background-color: #b8b8b8;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 99999;
}

.jump-top-button:hover {
  opacity: 1;
}

.recipe-alphabet {
  font-size: 20px;
  color: #b8b8b8;
  margin-top: 20px;
  line-height: 30px;
}

.recipe-alphabet a {
  color: #4b4c4c;
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
}

.recipe-alphabet a:hover {
  text-decoration: underline;
}

.recipe-alphabet a.disabled {
  pointer-events: none;
  opacity: 0.2;
}
